.popup-menu {
  visibility: hidden;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  right: -520px;
  max-width: 520px;
  width: 100%;
  height: 100vh;
  background-color: #202020;
  z-index: 2;
  transition: right 0.3s ease-in-out;
  justify-content: space-between;
  align-items: center;
}

.popup-menu::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100vw;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.popup-menu_open {
  visibility: visible;
  right: 0;
}

.popup-menu__exit {
  position: absolute;
  top: 22px;
  right: 22px;
  background-image: url(../../images/popupMenu/exit.svg);
  width: 31px;
  height: 31px;
  background-size: cover;
  cursor: pointer;
}

.popup-menu__navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 160px;
  gap: 24px;
}

.popup-menu__button {
  border: none;
  background: none;
  padding: 0;
  padding-bottom: 4px;
  color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
}

.popup-menu__button:hover {
  transition:  0.3s ease;
  opacity: 0.6;
}

.popup-menu__button_account {
  font-size: 13px;
  line-height: 12px;
  padding: 0;
  margin-left: 6px;
}

.popup-menu__button:active {
  border-bottom: 1px white solid;
}

.popup-menu__account {
  display: flex;
  margin-bottom: 94px;
}

.popup-menu__profile-icon {
  display: inline-block;
  width: 23px;
  height: 23px;
  background-position: center;
  background-color: #313131;
  background-repeat: no-repeat;
  border-radius: 50px;
  background-image: url(../../images/popupMenu/icon_acc.svg);
  margin-left: 10px;
  cursor: pointer;
}