.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1140px;
  padding-top: 18px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 708px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    max-width: 292px;
  }
}

.header_logged {
  justify-content: normal;
}

.header__logo {
  background-image: url(../../images/header/logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 38px;
  height: 38px;
  margin-bottom: 18px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .header__logo {
    width: 44px;
  }
}

@media screen and (max-width: 320px) {
  .header__logo {
    width: 49px;
  }
}

.header__sign {
  display: flex;
  flex-direction: row;
}

.header__signup {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  margin: 0;
  margin-right: 30px;
  margin-top: 11px;
  cursor: pointer;
  height: 1px;
  border: none;
  background: none;
  padding: 0;
  color: white;
}

.header__signup:hover {
  transition:  0.3s ease;
  opacity: 0.6;
}

@media screen and (max-width: 320px) {
  .header__signup {
    font-size: 10px;
    line-height: 16px;
    margin-right: 14px;
    margin-top: 12px;
  }
}

.header__signin {
  background: #3DDC84;
  border-radius: 3px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  margin: 0;
  width: 76px;
  height: 35px;
  cursor: pointer;
  border: none;
}

.header__signin:hover {
  transition:  0.3s ease;
  opacity: 0.6;
}

@media screen and (max-width: 320px) {
  .header__signin {
    font-size: 10px;
    line-height: 16px;
    width: 54px;
    height: 26px;
    margin-top: 6px;
  }
}