.movies-card {
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: #2F2F2F;
}

@media screen and (max-width: 460px) {
  .movies-card {
    flex-direction: column-reverse;
  }
}

.movies-card__info {
  margin-top: 22px;
  margin-left: 22px;
  max-width: 868px;
}

@media screen and (max-width: 460px) {
  .movies-card__info {
    margin-top: 15px;
    margin-left: 12px;
  }
}

.movies-card__name {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 50vw;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.movies-card__name:hover {
  opacity: 0.5;
}

@media screen and (max-width: 1000px) {
  .movies-card__name {
    max-width: 30vw;
  }
}

@media screen and (max-width: 460px) {
  .movies-card__name {
    font-size: 12px;
    line-height: 15px;
    max-width: 56vw;
  }
}

.movies-card__time {
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #8B8B8B;
  margin: 0;
  margin-top: 13px;
}

@media screen and (max-width: 460px) {
  .movies-card__time {
    margin-top: 7px;
    margin-bottom: 13px;
  }
}

.movies-card__like {
  border: none;
  background: none;
  padding: 0;
  position: absolute;
  bottom: 22px;
  left: 22px;
  background-image: url(../../../images/moviesCard/like.svg);
  background-size: cover;
  width: 14px;
  height: 12px;
  margin-top: 30px;
  cursor: pointer;
}

@media screen and (max-width: 460px) {
  .movies-card__like {
    bottom: 36px;
    left: 270px;
  }
}

.movies-card__like_active {
  background-image: url(../../../images/moviesCard/like_active.svg);
}

.movies-card__image {
  width: 220px;
  height: 122px;
  object-fit: cover;
  margin-top: 6px;
  margin-right: 6px;
  margin-bottom: 6px;
  cursor: pointer;
}

@media screen and (max-width: 460px) {
  .movies-card__image {
    width: 300px;
    height: 168px;
    object-fit: cover;
    margin: 0;
  }
}