.aboutMe {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 111px;
  max-width: 1140px;
}

.aboutMe__title {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  margin: 0;
  border-bottom: 1px #DADADA solid;
  padding-bottom: 23px;
}

.aboutMe__me {
  display: flex;
  justify-content: space-between;
  margin-top: 67px;
}

.abouthMe__name {
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
  margin: 0;
}

.aboutMe__info {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  margin: 0;
  margin-top: 18px;
}

.abouthMe__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  margin: 0;
  margin-top: 26px;
  max-width: 600px;
}

.aboutMe__image {
  background-image: url(../../../images/main/Avatar_v_rezume.jpg);
  background-size: cover;
  width: 270px;
  height: 327px;
  border-radius: 10px;
}

.abouthMe__git {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  margin: 0;
  margin-top: 77px;
}