.saved-movies-card-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-auto-flow: row;
  row-gap: 40px;
}

.saved-movies-card-list__error {
  margin: 0;
  color: gray;
}

@media screen and (max-width: 320px) {
  .saved-movies-card-list {
    row-gap: 21px;
  }
}